<div className="login_card font_robo">
    <div className="login_color">
        <div className="purple_rec"></div>
        <div className="gray_rec"></div>
        <div className="login_info">
            <div className="alert"></div>
            <div className="input">
                <input type="text" required />
                <label>User Account</label>
            </div>
            <div className="input">
                <input type="password" required/>
                <label>Password</label>
            </div>
            <p className="login_btn">Login</p>
            <a href="#">Forget password?</a>
        </div>
        <p className="login_logo">TEAMMS</p>
        <p className="start">Let's Start!</p>
        <a href="#" className="learnmore">No account yet? </a>
    </div> 
</div>
<!-- lolo -->